
body{

   
    margin: 20px 40px 10px 70px;
    color: #3C0B0B;
    
   
    
    }


#logo {
    width: 100px;
    height: auto;
    
}
.info{
    left:20px;
    bottom:30px;
    margin-bottom:30px; 

}
#listpro  {
      width: 800px;
    border-collapse:collapse;
    
    margin: auto;
}


#form{
     padding:8px;
     margin:auto;
     vertical-align: top;
     border-radius: 60px;
     display:table;
     border:5px;
     color: red;
     
}
td,tr{
    
    padding:2px; 
    width:200px;
    overflow:auto;

}

td{

    width: 400px;
}


#bAddDogs{
    margin:auto;
    color:black;
    width: 120px;
    margin-bottom: 100px;
}

#formRecherche{
     padding: 0 20px 6px;
     margin: auto;
     vertical-align: top;
     border-radius: 60px;
     display:table;
     border:5px;
     margin-bottom: 50px;
     vertical-align: baseline;
     border-spacing: 5px 8px; 

}

#formdogs{
    width: auto;
    
}



#button {
    display:inline-block;
    border-spacing: 5px;
}
 li{
    list-style-type: none; 
 }
.remarques{

margin:.2em .5em;
padding:0.1em .5em;
border:2px solid black;
background-color: red;
color:#FFF;
}


.btn_modif,.btn_listdog {
 
    border-radius:12px 0 12px 0;
    background: #478bf9;
    border:none;
    color:#fff;
    font:bold 12px Verdana;
    padding:6px 0 6px 0;
}
 
 

 
.btn_modif:hover,.btn_listdog:hover {
 -moz-box-shadow:inset 0 0 50px #000000;
 -webkit-box-shadow:inset 0 0 50px #000000;
 box-shadow:inset 0 0 50px #000000;
}

img:hover{
    cursor: pointer;
}
#footer{
    
        padding: 40px 20px 30px 20px;
            margin-top: 80px;
}
#connexion{
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
}

/***************************************************Formulaire d'enregistrement********************************/
body{
  /* Safari 4-5, Chrome 1-9 
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#1a82f7), to(#2F2727));

  /* Safari 5.1+, Chrome 10+ 
    background: -webkit-radial-gradient(circle, #1a82f7, #2F2727);

  /* Firefox 3.6+ 
    background: -moz-radial-gradient(circle, #1a82f7, #2F2727);

  /* IE 10 
    background: -ms-radial-gradient(circle, #1a82f7, #2F2727);
    height:600px;*/
}

.centered-form{
    margin-top: 60px;
    
}

.centered-form .panel{
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

label.label-floatlabel {
    font-weight: bold;
    color: #46b8da;
    font-size: 11px;
}
 
/*********************************************sb-admin.css*************************************************************************/


body {
    margin-top: 100px;
    
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }


}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green > a {
    color: #5cb85c;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red > a {
    color: #d9534f;
}

.panel-red > a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow > a {
    color: #f0ad4e;
}

.panel-yellow > a:hover {
    color: #df8a13;
}

/****************************************morris.css***************************************************/

.morris-hover{position:absolute;z-index:1000}.morris-hover.morris-default-style{border-radius:10px;padding:6px;color:#666;background:rgba(255,255,255,0.8);border:solid 2px rgba(230,230,230,0.8);font-family:sans-serif;font-size:12px;text-align:center}.morris-hover.morris-default-style .morris-hover-row-label{font-weight:bold;margin:0.25em 0}
.morris-hover.morris-default-style .morris-hover-point{white-space:nowrap;margin:0.1em 0}
