@media only screen and (max-width : 992px) {
    .main {
        background: white;
        margin-top: 30px;
    }
    
}
body{

   
   /*background-image: url('../../../img/Logo-police-locale.jpg');
    background-repeat:no-repeat;*/
    margin: 20px 40px 10px 70px;
    color: #3C0B0B;
    
    }


#logo {
    width: 100px;
    height: auto;
    
}
.info{
    left:20px;
    bottom:30px;
    margin-bottom:30px; 

}


#form{
     padding:8px;
     margin:auto;
     vertical-align: top;
     border-radius: 60px;
     display:table;
     border:5px;
     color: red;
     
}
td{
    /*background-color:#ccc;*/
    padding:2px; 
    width:200px;
    overflow:auto;

}


#bAddDogs{
    margin:auto;
    color:black;
    width: 120px;
    margin-bottom: 100px;
}

#formRecherche{
     padding: 0 20px 6px;
     margin: auto;
     vertical-align: top;
     border-radius: 60px;
     display:table;
     border:5px;
     margin-bottom: 50px;
     vertical-align: baseline;
     border-spacing: 5px 8px; 
}



#button {
    display:inline-block;
    border-spacing: 5px;
}
 li{
    list-style-type: none; 
 }
.remarques{

margin:.2em .5em;
padding:0.1em .5em;
border:2px solid black;
background-color: red;
color:#FFF;"
}


.btn_modif,.btn_listdog {
 
    border-radius:12px 0 12px 0;
    background: #478bf9;
    border:none;
    color:#fff;
    font:bold 12px Verdana;
    padding:6px 0 6px 0;
}
 
 

 
.btn_modif:hover,.btn_listdog:hover {
 -moz-box-shadow:inset 0 0 50px #000000;
 -webkit-box-shadow:inset 0 0 50px #000000;
 box-shadow:inset 0 0 50px #000000;
}

img:hover{
    cursor: pointer;
}
#footer{
    
        padding: 40px 20px 30px 20px;
            margin-top: 80px;
}
#connexion{
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
}
 



